{
    "singleQuote": true,
    "trailingComma": "all",
    "useTabs": false,
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.yaml",
            "options": {
                "tadWidth": 4,
                "printWidth": 40,
                "singleQuote": false
            }
        }
    ]
}
